* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	letter-spacing: -0.2px;
	word-spacing: -0.3px;
	height: 100dvh;
	font-family: inter, sans-serif;
	position: relative;
	background-color: #f2d450;
}

.text-3xl {
	font-size: 34px;
	color: #333;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: -1px;
}
.text-xl {
	font-size: 22px;
	color: #333;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: -0.5px;
}
.text-lg {
	font-size: 16px;
	color: #333;
	font-weight: bold;
	line-height: 1.1;
}
.text-md {
	font-size: 13px;
	color: #333;
	line-height: 1.1;
}
.text-sm {
	font-size: 11px;
	color: #333;
	line-height: 1.1;
}

@keyframes moveBackground {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}
