* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	letter-spacing: -0.3px;
	word-spacing: -0.2px;
	height: 100dvh;
	font-family: inter, sans-serif;
	position: relative;
	background-color: #f2d450;
	color: #333;
	font-size: 12px;
	line-height: 1.1;
}

.text-3xl {
	font-size: 34px;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: -1px;
}

.text-2xl {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: -0.4px;
}

.text-xl {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: -0.1px;
}

.text-lg {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: -0.1px;
}

.text-md {
	font-size: 13px;
	line-height: 1.2;
	letter-spacing: -0.1px;
}

.text-sm {
	font-size: 10px;
	line-height: 1.1;
	letter-spacing: -0.2px;
}

@keyframes moveBackground {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 0;
	}
}

.h-1 {
	height: 50px;
	width: 100px;
}
