.change-password-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding : 40px 16px
}

.change-password-container .change-password-combination .combination-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.change-password-container .change-password-combination .combination-list > li {
    color: red;
}

.email-verification-container .account-info {
	display: flex;
	justify-content: space-between;
	margin-top: 4px;
}

.email-verification-container .account-verification {
	display: flex;
	gap: 10px;
    margin-top:10px
}

.email-verification-container .account-verification > input {
	height: 36px;
	padding: 0px 16px;
	width: 100%;
}
.email-verification-container .account-verification > button {
	display: block;
	width: 40%;
}

.email-verification-container .request-code {
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	gap: 4px;
	text-decoration: underline;
	cursor: pointer;
    margin-top: 10px;
}