.find-password-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	padding: 16px 24px 40px 24px;
	max-width: 380px;
	min-width: 300px;
	z-index: 99;
	position: relative;
	overflow: hidden;
}

.header-content-container .header-content > p {
	margin:14px 0px;
}

.password-content-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	margin-top: 34px;
}

.password-content-container > div > h2 {
	margin-bottom: 8px;
}

.password-content-container .password-requirement {
	display: flex;
	flex-direction: column;
	gap: 4px;
	list-style: none;
	margin-top: 5px;
}

.password-confirm-box .success-text {
	font-size: 13px;
	font-weight: bold;
}

.find-password-content-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	margin-top: 20px;
}

.find-password-content-container .email-box h2,
.verification-container h2 {
	margin-bottom: 10px;
}

.find-password-content-container .email-box aside > button {
	cursor: pointer;
	background-color: transparent;
	border: none;
	font-size: 14px;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 4px;
}

.verification-container {
	margin-top: 14px;
}

.verification-container .verification-box {
	display: flex;
	gap: 4px;
}

.verification-container .verification-box button {
	height: 100%;
	width: 50%;
	padding: 14px;
}

.success-msg-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.success-msg-wrapper .success-btn {
    padding: 16px;
    display: flex;
    align-items: center ;
    justify-content: center;
    text-decoration: none;
    background-color: #333;
    border-radius: 16px;
    border: 2px solid #33333350;
}

.success-msg-wrapper .success-btn span {
    color: white;
}