.screen-wrapper {
	display: flex;
	justify-content: center;
	height: max-content;
	min-height: 100vh;
}

.screen-safe-view {
	background-color: #f9f9f9;
	width: 100%;
	max-width: 520px;
	min-width: 360px;
	height: 100%;
	min-height: 100dvh;
	position: relative;
}

.padding-vertical {
	padding: 0px 16px;
}

.margin-vertical {
	margin: 0px 16px;
}

.lined-border-box {
	background-color: #fba541;
	border: 2px solid #00000020;
}

.border-rounded-xs {
	border-radius: 6px;
	border: 1px solid #33333320;
	overflow: hidden;
}

.border-rounded-xm {
	border-radius: 8px;
	border: 1px solid #33333320;
	overflow: hidden;
}

.border-rounded-md {
	border-radius: 10px;
	border: 1px solid #33333320;
	overflow: hidden;
}

.border-rounded-lg {
	border-radius: 14px;
	border: 1px solid #33333320;
	overflow: hidden;
}

.border-rounded-xl {
	border-radius: 16px;
	border: 1px solid #33333320;
	overflow: hidden;
}

.border-rounded-2xl {
	border-radius: 20px;
	border: 1px solid #33333320;
	overflow: hidden;
}

.border-rounded-full {
	border-radius: 999px;
	border: 1px solid #33333320;
	overflow: hidden;
}

.border-top {
	border-top: 1px solid #33333320;
}

.border-bottom {
	border-bottom: 1px solid #33333320;
}

.border-vertical {
	border-top: 1px solid #33333320;
	border-bottom: 1px solid #33333320;
}

.heading-3xl {
	font-size: 34px;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: -1px;
}

.heading-2xl {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: -1px;
}

.heading-xl {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	letter-spacing: -0.5px;
}

.text-red {
	color: #e32929;
}

.text-gray-200 {
	color: #989898;
}

.text-gray-100 {
	color: #aaa;
}

.text-yellow {
	color: #f59e17;
}

.text-white {
	color: #ffffff;
}

.bg-yellow {
	background-color: #f59e17;
}

.bg-red {
	background-color: #e32929;
}

.bg-gray-900 {
	background-color: #333333;
}

.bg-white {
	background-color: #fff;
}

.bg-default {
	background-color: #f9f9f9;
}

.font-bold {
	font-weight: bold;
}

.nav-container {
	background-color: #fff;
	border-bottom: 1px solid #33333320;
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	max-width: 520px;
	min-width: 360px;
}

.nav-height {
	height: 68px;
}

.nav-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.nav-inner button,
.nav-inner legend {
	padding: 26px;
	all: unset;
	cursor: pointer;
}

.nav-inner button > img {
	padding: 12px;
}

.push-list-container {
	position: fixed;
	top: 68px;
	transform: translateY(-200%);
	transition: transform 0.3s ease-in-out;
	max-height: 380px;
	min-height: 240px;
	z-index: 99;
	max-width: 520px;
	min-width: 360px;
	width: 100%;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.push-list-container > section {
	height: 40px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.push-list-container > section > a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	text-decoration: underline;
}

.push-list-box {
	width: 100%;
	height: 100%;
}

.push-list-box .push-list .push-item {
	list-style: none;
	width: 100%;
	text-align: left;
	padding: 20px;
	border-bottom: 1px solid #33333320;
}

.push-list-box .push-list {
	min-height: 160px;
}

.menu-list-bg {
	background-color: #33333380;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}

.menu-list-container {
	max-width: 380px;
	width: 70%;
	height: 100%;
	transform: translateX(-200%);
	transition: transform 0.8s ease-in-out;
	display: flex;
	flex-direction: column;
}

.menu-header-container {
	padding: 10px 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.menu-header-container > button {
	border: none;
	background-color: #fff;
}

.menu-container {
	margin-bottom: 10px;
}

.menu-container .menu-list-header {
	margin-bottom: 10px;
}

.menu-container > .menu-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.menu-list .menu-active {
	background-color: #333333;
}

.menu-list .menu-active > span {
	color: #fff;
}

.menu-list .menu-item {
	display: flex;
	align-items: center;
	gap: 6px;
	border-radius: 4px;
	padding: 10px 12px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #33333380;
}

.menu-list li:hover {
	background-color: #33333310;
	border-radius: 4px;
}

.logout-btn-box {
	margin-bottom: 16px;
}

.logout-btn-box > button {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 8px 12px;
	width: 100%;
	text-align: left;
}

.footer-container > section {
	padding-top: 34px;
	padding-bottom: 44px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-container > section > div > span {
	line-height: 1.5;
}

.footer-img > figure {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.copy-announce-container {
	position: fixed;
	bottom: 0;
	margin-bottom: 34px;
	width: 100%;
	max-width: 520px;
	min-width: 360px;
	opacity: 0;
}

.copy-announce-container > article {
	padding: 10px;
	text-align: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.pop-announce-container {
	position: fixed;
	bottom: 0;
	margin-bottom: 34px;
	width: 100%;
	max-width: 520px;
	min-width: 360px;
	opacity: 0;
}
