<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="./item.css" />
		<link rel="stylesheet" href="../global.css" />
		<link rel="stylesheet" href="../service/common.css" />
	</head>
	<body>
		<div class="screen-wrapper">
			<div class="screen-safe-view">
				<section id="items-container" class="padding-vertical">
					<!--Tab-Horizontal-Nav-->
					<ul class="i__tab-horizontal-nav">
						<li class="current-tab">
							<a class="active-page" href="#">Tab-Link</a>
						</li>
						<li>
							<a href="#">Tab-Link</a>
						</li>
					</ul>

					<!--Page-header-->
					<div class="i__page-header">
						<h2>Title</h2>
						<p>Paragraph sentence</p>
					</div>

					<!--Page-header-aside-->
					<div class="i__page-header__aside">
						<h2>Title</h2>
						<aside>
							<button id="btn-action" class="jsRefreshAction">
								<img src="./../img/icons/refresh-black.svg" />
							</button>
						</aside>
					</div>

					<!--Label-Input-->
					<form class="i__label-input">
						<label for="title">Amount</label>
						<input />
						<p>Valid amount :&nbsp;<span class="variable">&nbsp;800.00</span>&nbsp;USDT</p>
					</form>

					<!--Proceed-Link-Btn-->
					<a class="i__proceed-link-btn bg-gray-900">
						<p>Send Request</p>
					</a>

					<!--Support-paragraph-->
					<p class="i__support-paragraph">
						<span>
							With staking, you can receive daily rewards and team rewards. Once the maximum return of 300% is reached, the staking will automatically
							unlock, and you can claim your rewards.
						</span>
					</p>

					<!--Announce-Card-->
					<article class="i__announce-card">
						<div class="header">
							<h2><span>Your Reward</span> has been distributed.</h2>
							<p>25.01.16/23:52:01</p>
						</div>
						<aside>
							<p class="truncated">
								With staking, you can receive daily rewards and team rewards. Once the maximum return of 300% is reached, the staking will
								automatically unlock, and you can claim your rewards.
							</p>
							<ul class="details">
								<li>Reward received</li>
								<li>Team</li>
								<li>
									<span>+150</span>
									<span>&nbsp;FFT</span>
								</li>
							</ul>
						</aside>
					</article>

					<!--Summary-Card-->
					<article class="i__summary-card">
						<p>Information</p>
						<div>
							<ul class="grid">
								<li class="row">
									<dl class="data">
										<dt>Package</dt>
										<dd>F1 Staking</dd>
									</dl>
									<dl class="data">
										<dt>Daily Return</dt>
										<dd>1%</dd>
									</dl>
								</li>
								<li class="row">
									<dl class="data">
										<dt>Package</dt>
										<dd>F1 Staking</dd>
									</dl>
									<dl class="data">
										<dt>Daily Return</dt>
										<dd>1%</dd>
									</dl>
									<dl class="data">
										<dt>Daily Return</dt>
										<dd>1%</dd>
									</dl>
								</li>
								<li class="row">
									<dl class="data">
										<dt>Package</dt>
										<dd>F1 Staking</dd>
									</dl>
									<dl class="data">
										<dt>Daily Return</dt>
										<dd>1%</dd>
									</dl>
									<dl class="data">
										<dt>Daily Return</dt>
										<dd>1%</dd>
									</dl>
								</li>
							</ul>
						</div>
					</article>

					<!--Staking-Item-Card-->
					<article class="i__staking-item-card bg-yellow">
						<div>
							<h2>F1 Staking</h2>
							<p>Get FFT by staking and get 1% daily reward Click to see more details</p>
						</div>
						<aside>
							<figure>
								<img alt="burger" src="./../img/invite-burger.png" width="140" />
							</figure>
							<div class="staking-details">
								<ul class="grid">
									<li>
										<dl class="data">
											<dt>100~1000</dt>
											<dd>Staking amount</dd>
										</dl>
									</li>
									<li>
										<dl class="data">
											<dt>
												<img alt="fwt-icon" src="./../img/currencies/fft-icon.svg" width="16" />
												<span>FWT</span>
											</dt>
											<dd>Reward</dd>
										</dl>
									</li>
									<li>
										<dl class="data">
											<dt><span>1%</span>&nbsp;Daily</dt>
											<dd>Return Info</dd>
										</dl>
									</li>
									<li>
										<dl class="data">
											<dt>300%</dt>
											<dd>Max return</dd>
										</dl>
									</li>
								</ul>
							</div>
						</aside>
					</article>

					<!--Staked-Item-Card-->
					<article class="i__staked-item-card bg-yellow">
						<div>
							<h2>F1 Staking</h2>
							<div class="staking-status">
								<p>Statue</p>
								<span class="state">Active</span>
							</div>
						</div>
						<aside>
							<figure>
								<img alt="burger" src="./../img/invite-burger.png" width="140" />
							</figure>
							<div class="staking-details">
								<ul class="grid">
									<li>
										<dl class="data">
											<dt>100~1000</dt>
											<dd>Staking amount</dd>
										</dl>
									</li>
									<li>
										<dl class="data">
											<dt>
												<img alt="fwt-icon" src="./../img/currencies/fft-dark.svg" width="16" />
												<span>FWT</span>
											</dt>
											<dd>Reward</dd>
										</dl>
									</li>
									<li>
										<dl class="data">
											<dt><span>1%</span>&nbsp;Daily</dt>
											<dd>Return Info</dd>
										</dl>
									</li>
									<li>
										<dl class="data">
											<dt>300%</dt>
											<dd>Max return</dd>
										</dl>
									</li>
								</ul>
							</div>
						</aside>
					</article>

					<!---->
				</section>
			</div>
		</div>
	</body>
</html>
