.announce-list {
	list-style: none;
}

.announce-list > li > a {
	text-decoration: none;
}

.announce-list > li > a :hover {
	background-color: #f9f9f9;
}

.announce-detail-inner {
	line-height: 1.5;
}
