.overview-container,
.asset-container,
.currency-rate-container,
.promo-list-container {
	margin-top: 20px;
}

.overview-container .overview-header,
.asset-container .asset-header,
.currency-rate-container .currency-rate-header,
.promo-list-container .promo-header {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.overview-content-container {
	margin-top: 20px;
	border-radius: 25px;
	padding: 16px;
}

.overview-content-container .current-value {
	background-color: #333333;
	padding: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 14px;
	border: 2px solid #ffffff20;
	gap: 4px;
	position: relative;
}

.overview-content-container .current-value > span {
	color: #989898;
}
.overview-content-container .current-value > legend {
	color: #fff;
}
.overview-content-container .current-value > button {
	all: unset;
	cursor: pointer;
	padding: 4px;
	position: absolute;
	top: 12px;
	right: 12px;
}

.overview-content-container .address-value-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 14px;
}

.overview-content-container .address-value-box > .address-value {
	display: flex;
	margin-top: 10px;
	gap: 14px;
	font-weight: bold;
}

.overview-content-container .address-value-box > .address-value > div {
	display: flex;
	flex-direction: column;
}

.overview-content-container .address-value-box > .address-value > div > span {
	margin-top: 4px;
}

.overview-content-container .address-value-box .address-value .wallet-address {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 180px;
}

.overview-content-container .address-value-box > .address-value-copy {
	background-color: #333333;
	margin-top: 12px;
	border-radius: 8px;
}

.overview-content-container .address-value-box > .address-value-copy button {
	all: unset;
	cursor: pointer;
	padding: 6px 8px;
}

.currency-rate-container .currency-rate-header {
	margin-bottom: 15px;
}

.currency-rate-container .currency-rate-content {
	display: flex;
	flex-direction: column;
	padding-bottom: 34px;
}

.currency-rate-container .currency-rate-content > section {
	padding: 34px 0px;
}

.currency-list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	gap: 0px;
}

.currency-list > li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 10px;
}

.currency-list > .currency-fft,
.currency-list > .currency-usdt {
	border: 1px solid #33333320;
}

.currency-list > .currency-usdt {
	border-left: none;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.currency-list > .currency-fft {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.currency-list > li > .currency-label {
	display: flex;
	gap: 10px;
	align-items: center;
}

.currency-list > li > dl {
	display: flex;
	flex-direction: column;
	gap: 4px;
	text-align: right;
}

.currency-list > li > div > h2 {
	margin-bottom: 5px;
}

.currency-rate-container .link-action {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
}

.currency-rate-container .link-action > a {
	padding: 16px;
	text-decoration: none;
}

.asset-content-container {
	margin-top: 14px;
	padding-top: 40px;
	padding-bottom: 30px;
}

.asset-content-container > .asset-table {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.asset-table .asset-box {
	border-bottom: 1px solid #33333320;
	padding-bottom: 16px;
}

.asset-table .coin-banking {
	display: flex;
	gap: 5px;
	width: 100%;
}

.asset-table .coin-banking > button {
	width: 100%;
	height: 40px;
}

.coin-statue {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.coin-statue > dl {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.coin-statue .coin-valid {
	display: flex;
	margin-top: 4px;
}

.coin-statue .coin-valid > dl {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: right;
}

.coin-statue .coin-valid > dl > dl {
	display: flex;
	gap: 3px;
}

.coin-statue > dl > .coin-price {
	display: flex;
	gap: 11px;
}

.coin-statue .coin-price > .coin-label {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.coin-statue > dl > .coin-locked {
	display: flex;
	gap: 6px;
	align-items: center;
}

.promo-list-container > .promo-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: 16px;
	margin-bottom: 36px;
}

.promo-list-container > .promo-list > .promo-item {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding-top: 36px;
	padding-bottom: 30px;
}

.promo-item > .promo-item-header {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.promo-item > .promo-item-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.promo-item > .promo-item-action > p {
	max-width: 40%;
}

.promo-item > .promo-item-action > a {
	width: 110px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}


